@using LectureSchedulingTool.Models;
@model IndexViewModel

<h2>@(Html.Localizate("Settings", (string)ViewBag.CurLang))</h2>
<hr />

@(Html.ValidationSummary("", new { @class = "text-danger" }))

<div>
    @using (Html.BeginForm("Index", "Manage"))
    {
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Password", (string)ViewBag.CurLang)):</dt>
            <dd>
                [@(Html.ActionLink(Html.Localizate("Change_password", (string)ViewBag.CurLang), "ChangePassword"))]
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Weeks_count", (string)ViewBag.CurLang)):</dt>
            <dd>
                @if (Model.HaveDataInTables == true)
                {
                    @(Html.TextBoxFor(m => m.WeeksCount, new { @class = "form-control", disabled = "disabled" }))
                }
                else
                {
                    @(Html.TextBoxFor(m => m.WeeksCount, new { @class = "form-control" }))
                }
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Weeks_amount", (string)ViewBag.CurLang)):</dt>
            <dd>
                @if (Model.HaveDataInTables == true)
                {
                    @(Html.TextBoxFor(m => m.WeeksAmount, new { @class = "form-control", disabled = "disabled" }))
                }
                else
                {
                    @(Html.TextBoxFor(m => m.WeeksAmount, new { @class = "form-control" }))
                }
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Lessons_count", (string)ViewBag.CurLang)):</dt>
            <dd>
                @if (Model.HaveDataInTables == true)
                {
                    @(Html.TextBoxFor(m => m.LessonsCount, new { @class = "form-control", disabled = "disabled" }))
                }
                else
                {
                    @(Html.TextBoxFor(m => m.LessonsCount, new { @class = "form-control" }))
                }
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Lessons_amount", (string)ViewBag.CurLang)):</dt>
            <dd>
                @if (Model.HaveDataInTables == true)
                {
                    @(Html.TextBoxFor(m => m.LessonsAmount, new { @class = "form-control", disabled = "disabled" }))
                }
                else
                {
                    @(Html.TextBoxFor(m => m.LessonsAmount, new { @class = "form-control" }))
                }
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Elements_on_page", (string)ViewBag.CurLang)):</dt>
            <dd>
                @(Html.TextBoxFor(m => m.ElementsOnPage, new { @class = "form-control" }))
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Scheduling", (string)ViewBag.CurLang)):</dt>
            <dd>
                [@(Html.ActionLink(Html.Localizate("Load_test_data", (string)ViewBag.CurLang), "Index"))]
            </dd>
            <dd>
                [@(Html.ActionLink(Html.Localizate("Remove_all_data", (string)ViewBag.CurLang), "Index"))]
            </dd>
            <dd>
                [@(Html.ActionLink(Html.Localizate("Generate_scheduling", (string)ViewBag.CurLang), "Index"))]
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>@(Html.Localizate("Secret_code", (string)ViewBag.CurLang)):</dt>
            <dd>
                [@(Html.ActionLink(Html.Localizate("Manage_secret_code", (string)ViewBag.CurLang), "SecretCode"))]
            </dd>
        </dl>
        <button class="btn btn-primary" type="submit">@(Html.Localizate("Save", (string)ViewBag.CurLang))</button>
    }
</div>
