@model LectureSchedulingTool.Models.IndexViewModel

<h2>Настройки</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройки системы генерации расписания и Вашего аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @Html.ActionLink("изменить Ваш пароль", "ChangePassword")
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Кол-во недель:</dt>
        <dd>
            [
            <select>
                <option value="1">1 неделя</option>
                <option value="2">1/2 недели</option>
                <option value="2">1/2/3 недели</option>
            </select>
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Кол-во занятий в день:</dt>
        <dd>
            [
            <input type="number" id="lessons" value="6" />
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Данные:</dt>
        <dd>
            [
            @Html.ActionLink("загрузить тестовые данные", "ChangePassword")
            ]
        </dd>
        <dd>
            [
            @Html.ActionLink("удалить все данные", "ChangePassword")
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Расписание:</dt>
        <dd>
            [
            @Html.ActionLink("сгенерировать расписание", "ChangePassword")
            ]
        </dd>
    </dl>

    <button class="btn btn-primary">Сохранить</button>
    <button class="btn btn-danger">Отменить</button>
</div>
