<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lecture scheduling tool</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Расписание", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Факультеты
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Факультеты", "Faculty", "Scheduling")</li>
                                <li>@Html.ActionLink("Кафедры", "Department", "Scheduling")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Группы
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Группы", "Students_group", "Scheduling")</li>
                                <li>@Html.ActionLink("Нагрузка групп", "Students_group_load", "Scheduling")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Преподаватели
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Преподаватели", "Teacher", "Scheduling")</li>
                                <li>@Html.ActionLink("Нагрузка преподавателей", "Teacher_load", "Scheduling")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Предметы", "Subject", "Scheduling")</li>
                        <li>@Html.ActionLink("Аудитории", "Classroom", "Scheduling")</li>
                        <li>@Html.ActionLink("Занятия", "Lesson", "Scheduling")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("О нас", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SGP2</p>
            <p>
                Запущено при поддержке
                <a href="http://www.asp.net/mvc">ASP.NET MVC</a>,
                <a href="https://azure.microsoft.com">Microsoft Azure</a> и
                <a href="https://somee.com">Somee hosting</a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>