@using LectureSchedulingTool.Models;

<h2>Кафедры</h2>

<br /><br /><br />

<table align="center" border="1">
    <thead>
        <tr>
            <td>№</td>
            <td>Название</td>
            <td>Аббревиатура</td>
            <td>Факультет</td>
            <td>Тип</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Faculty> faculties = ViewBag.faculties;
            List<Department> departments = ViewBag.departments;
            for (int i = 0; i < departments.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>

                    @if (ViewBag.action == 'e' && i == Convert.ToInt32(ViewBag.row))
                    {
                        using (Html.BeginForm())
                        {
                            <input type="hidden" name="row" value="@i" />
                            <input type="hidden" name="id_department" value="@departments[i].id_department" />
                            <td><input type="text" name="name" value="@departments[i].name" /></td>
                            <td><input type="text" name="abbreviation" value="@departments[i].abbreviation" /></td>
                            <td>
                                <select name="id_faculty">
                                    @for (int j = 0; j < faculties.Count; j++)
                                    {
                                        <option value="@faculties[j].id_faculty" @(faculties[j].id_faculty == departments[i].id_faculty ? "selected" : "")>
                                            @faculties[j].abbreviation (@faculties[j].name)
                                        </option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="is_producing">
                                    <option value="1" @(departments[i].is_producing == 1 ? "selected" : "")>Выпускающая</option>
                                    <option value="0" @(departments[i].is_producing != 1 ? "selected" : "")>Не выпускающая</option>
                                </select>
                            </td>
                            <td><button type="submit" name="action" value="u">Обновить</button></td>
                            <td><button type="submit" name="action" value="0">Отменить</button></td>
                        }
                    }
                    else
                    {
                        <td>@departments[i].name</td>
                        <td>@departments[i].abbreviation</td>
                        Faculty faculty = faculties.Find(f => f.id_faculty == departments[i].id_faculty);
                        <td>@faculty.abbreviation (@faculty.name)</td>
                        <td>@(departments[i].is_producing == 1 ? "Выпускающая" : "Не выпускающая")</td>

                        using (Html.BeginForm())
                        {
                            <input type="hidden" name="row" value="@i" />
                            <input type="hidden" name="id_department" value="@departments[i].id_department" />
                            <td><button type="submit" name="action" value="e"> Редактировать </button></td>
                            <td><button type="submit" name="action" value="r"> Удалить </button></td>
                        }
                    }
                </tr>
            }
        }
        @if (ViewBag.action == 'a')
        {
            using (Html.BeginForm())
            {
                <tr>
                    <td>@(departments.Count + 1)</td>
                    <td><input type="text" name="name" /></td>
                    <td><input type="text" name="abbreviation" /></td>
                    <td>
                        <select name="id_faculty">
                            @for (int j = 0; j < faculties.Count; j++)
                            {
                                <option value="@faculties[j].id_faculty">@faculties[j].abbreviation (@faculties[j].name)</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select name="is_producing">
                            <option value="1">Выпускающая</option>
                            <option value="0">Не выпускающая</option>
                        </select>
                    </td>
                    <td><button type="submit" name="action" value="s">Сохранить</button></td>
                    <td><button type="submit" name="action" value="0">Отменить</button></td>
                </tr>
            }
        }
    </tbody>
</table>
@if (ViewBag.action != 'a')
{
    using (Html.BeginForm())
    {
        <button type="submit" name="action" value="a">Добавить</button>
    }
}