@using LectureSchedulingTool.Models;

<script type="text/javascript">
    $('body').on('click', '[class $= btn-danger]',
        function () {
            if (confirm('Вы уверенны, что хотите удалить запись?')) {
                $(this).parent('form').submit();
            }
            else {
                return false;
            }
        });
</script>

<h2>Факультеты</h2>

<hr />

<table class="table-bordered table-condensed" align="center">
    <thead>
        <tr>
            <td>№</td>
            <td>Название</td>
            <td>Аббревиатура</td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Faculty> faculties = ViewBag.faculties;
            for (int i = 0; i < faculties.Count; i++)
            {
                if (ViewBag.action == 'e' && i == Convert.ToInt32(ViewBag.row))
                {
                    using (Html.BeginForm())
                    {
                        <tr>
                            <input type="hidden" name="row" value="@i" />
                            <input type="hidden" name="id_faculty" value="@faculties[i].id_faculty" />
                            <td>@(i + 1)</td>
                            <td><input type="text" name="name" value="@faculties[i].name" class="form-control" /></td>
                            <td><input type="text" name="abbreviation" value="@faculties[i].abbreviation" class="form-control" /></td>
                            <td><button type="submit" name="action" value="u" class="btn btn-primary">Обновить</button></td>
                            <td><button type="submit" name="action" value="0" class="btn btn-warning">Отменить</button></td>
                        </tr>
                    }
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        <tr>
                            <input type="hidden" name="row" value="@i" />
                            <input type="hidden" name="id_faculty" value="@faculties[i].id_faculty" />
                            <td>@(i + 1) </td>
                            <td> @faculties[i].name </td>
                            <td> @faculties[i].abbreviation </td>
                            @if (ViewBag.action != 'e' && ViewBag.action != 'a')
                            {
                                <td><button type="submit" name="action" value="e" class="btn btn-primary"> Редактировать </button></td>
                                <td><button type="submit" name="action" value="r" class="btn btn-danger"> Удалить </button></td>
                            }
                            else
                            {
                                <td><button type="submit" name="action" value="e" class="btn btn-primary" disabled> Редактировать </button></td>
                                <td><button type="submit" name="action" value="r" class="btn btn-danger" disabled> Удалить </button></td>
                            }
                        </tr>
                    }
                }
            }
            if (ViewBag.action == 'a')
            {
                using (Html.BeginForm())
                {
                    <tr>
                        <td>@(faculties.Count + 1)</td>
                        <td><input type="text" name="name" class="form-control" /></td>
                        <td><input type="text" name="abbreviation" class="form-control" /></td>
                        <td><button type="submit" name="action" value="s" class="btn btn-primary">Сохранить</button></td>
                        <td><button type="submit" name="action" value="0" class="btn btn-warning">Отменить</button></td>
                    </tr>
                }
            }
            else
            {
                using (Html.BeginForm())
                {
                    <tr>
                        <td><button type="submit" name="action" value="a" class="btn btn-info">+</button></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>