@using LectureSchedulingTool.Models;
@model SVM.Students_group_load

<h2>@Html.Localizate("Groups_loads", (string)ViewBag.CurLang)</h2>
<hr />

@(Html.ValidationSummary("", new { @class = "text-danger" }))

<table class="table-bordered table-condensed" align="center" width="100%">
    <thead>
        <tr>
            <td><center>№</center></td>
            <td>@Html.Localizate("Group", (string)ViewBag.CurLang)</td>
            <td>@Html.Localizate("Subject", (string)ViewBag.CurLang)</td>
            <td>@Html.Localizate("Hours", (string)ViewBag.CurLang)</td>
        </tr>
    </thead>
    <tbody>
        @{
            string action = ViewBag.action != null ? ViewBag.action.ToString() : "0";
            int edit_row = ViewBag.row != null ? ViewBag.row : -1;
            int elements_on_page = ViewBag.elements_on_page != null ? ViewBag.elements_on_page : 10;
            int page = ViewBag.page != null ? ViewBag.page : 1;
            int pages = ViewBag.pages != null ? ViewBag.pages : 1;

            List<SVM.Students_group_load> students_group_loads = ViewBag.students_group_loads != null ? ViewBag.students_group_loads : null;

            IEnumerable<SelectListItem> Istudents_groups;
            IEnumerable<SelectListItem> Isubjects;

            for (int i = 0; i < students_group_loads.Count; i++)
            {
                if (action == "e" && edit_row == i)
                {
                    Istudents_groups = (ViewBag.students_groups as List<SVM.Students_group>).Select(sg => new SelectListItem() { Value = sg.id_students_group.ToString(), Text = sg.ToString() });
                    Isubjects = (ViewBag.subjects as List<SVM.Subject>).Select(s => new SelectListItem() { Value = s.id_subject.ToString(), Text = s.ToString() });

                    using (Html.BeginForm("Students_group_load", "Scheduling"))
                    {
                        <tr>
                            <input type="hidden" name="page" value="@(page)" />
                            <input type="hidden" name="row" value="@(i)" />
                            <input type="hidden" name="id_students_group_load" value="@(students_group_loads[i].id_students_group_load)" />
                            <td><center>@(i + (elements_on_page * (page - 1)) + 1) </center></td>
                            <td>@(Html.DropDownListFor(m => m.id_students_group, Istudents_groups, new { @class = "form-control" }))</td>
                            <td>@(Html.DropDownListFor(m => m.id_subject, Isubjects, new { @class = "form-control" }))</td>
                            <td>@(Html.TextBoxFor(m => m.hours, new { @class = "form-control" })) </td>
                            <td width="10%"><center><button type="submit" id="update" name="action" value="u" class="btn btn-primary"> @Html.Localizate("Update", (string)ViewBag.CurLang)</button></center></td>
                            <td width="9%"><center><button type="submit" id="cancel" name="action" value="0" class="btn btn-warning"> @Html.Localizate("Cancel", (string)ViewBag.CurLang)</button></center></td>
                        </tr>
                    }
                }
                else
                {
                    SVM.Students_group students_group = students_group_loads[i].GetStudentsGroup();
                    SVM.Subject subject = students_group_loads[i].GetSubject();

                    using (Html.BeginForm("Students_group_load", "Scheduling"))
                    {
                        <tr>
                            <input type="hidden" name="page" value="@(page)" />
                            <input type="hidden" name="row" value="@(i)" />
                            <input type="hidden" name="id_students_group_load" value="@(students_group_loads[i].id_students_group_load)" />
                            <td><center>@(i + (elements_on_page * (page - 1)) + 1)</center></td>
                            <td>@(students_group.name)</td>
                            <td>@(subject.ToString())</td>
                            <td>@(students_group_loads[i].hours)</td>
                            @if (action == "e" || action == "a")
                            {
                                <td width="10%"><center><button type="submit" id="edit" name="action" value="e" class="btn btn-primary" width="inherit" disabled> @Html.Localizate("Edit", (string)ViewBag.CurLang)</button></center></td>
                                <td width="9%"><center><button type="submit" id="remove" name="action" value="r" class="btn btn-danger" width="inherit" disabled> @Html.Localizate("Remove", (string)ViewBag.CurLang)</button></center></td>
                            }
                            else
                            {
                                <td width="10%"><center><button type="submit" id="edit" name="action" value="e" class="btn btn-primary" width="inherit"> @Html.Localizate("Edit", (string)ViewBag.CurLang)</button></center></td>
                                <td width="9%"><center><button type="submit" id="remove" name="action" value="r" class="btn btn-danger" width="inherit"> @Html.Localizate("Remove", (string)ViewBag.CurLang)</button></center></td>
                            }
                        </tr>
                    }
                }
            }
            if (action == "a")
            {
                Istudents_groups = (ViewBag.students_groups as List<SVM.Students_group>).Select(sg => new SelectListItem() { Value = sg.id_students_group.ToString(), Text = sg.ToString() });
                Isubjects = (ViewBag.subjects as List<SVM.Subject>).Select(s => new SelectListItem() { Value = s.id_subject.ToString(), Text = s.ToString() });

                using (Html.BeginForm("Students_group_load", "Scheduling"))
                {
                    <tr>
                        <input type="hidden" name="page" value="@(page)" />
                        <td><center>* </center></td>
                        <td>@(Html.DropDownListFor(m => m.id_students_group, Istudents_groups, new { @class = "form-control" }))</td>
                        <td>@(Html.DropDownListFor(m => m.id_subject, Isubjects, new { @class = "form-control" }))</td>
                        <td>@(Html.TextBoxFor(m => m.hours, new { @class = "form-control" })) </td>
                        <td width="10%"><center><button type="submit" id="save" name="action" value="s" class="btn btn-primary"> @Html.Localizate("Add", (string)ViewBag.CurLang)</button></center></td>
                        <td width="9%"><center><button type="submit" id="cancel" name="action" value="0" class="btn btn-warning"> @Html.Localizate("Cancel", (string)ViewBag.CurLang)</button></center></td>
                    </tr>
                }
            }
            using (Html.BeginForm("Students_group_load", "Scheduling"))
            {
                <tr>
                    <input type="hidden" name="page" value="@(page)" />
                    @if (action == "e" || action == "a")
                    {
                        <td width="3%"><button type="submit" id="add" name="action" value="a" class="btn btn-info" disabled> + </button></td>
                    }
                    else
                    {
                        <td width="3%"><button type="submit" id="add" name="action" value="a" class="btn btn-info"> + </button></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@{
    if (pages != 1)
    {
        using (Html.BeginForm("Students_group_load", "Scheduling"))
        {
            <hr />
            <table>
                <tr>
                    <td><button type="submit" id="page" name="page" value="1" class="btn btn-default"> <<</button></td>
                    @for (int i = 1; i <= pages; i++)
                    {
                        if (i == page)
                        {
                            <td><button type="submit" id="page" name="page" value="@(i)" class="btn btn-info"> @(i) </button></td>
                        }
                        else
                        {
                            <td><button type="submit" id="page" name="page" value="@(i)" class="btn btn-default"> @(i) </button></td>
                        }
                    }
                    <td><button type="submit" id="page" name="page" value="@(pages)" class="btn btn-default"> >> </button></td>
                </tr>
            </table>
        }

        <input type="hidden" name="page" value="@(page)" />
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/Scheduling/scheduling_remove_alert.js"></script>