@using LectureSchedulingTool.Models;

<script src="~/Scripts/Scheduling/scheduling_department_dynamic.js"></script>
<script src="~/Scripts/Scheduling/scheduling_disable_buttons.js"></script>
<script src="~/Scripts/Scheduling/scheduling_remove_alert.js"></script>

<input name="department_list_getter" id="department_list_getter" type="hidden" value="@Url.Action("GetDepartments")" />
<input name="curent_action" id="curent_action" type="hidden" value="@ViewBag.action">
<audio id="music_alert" src="/Content/Easter_Eggs/alert.mp3"></audio>

<h2>Группы</h2>
<hr />

<table class="table-bordered table-condensed" align="center">
    <thead>
        <tr>
            <td>№</td>
            <td>Факультет</td>
            <td>Кафедра</td>
            <td>Название</td>
            <td>Количество студентов</td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Faculty> faculties = ViewBag.faculties;
            List<Department> departments = ViewBag.departments;
            List<Students_group> students_groups = ViewBag.students_groups;

            for (int i = 0; i < students_groups.Count; i++)
            {
                Department department = departments.Find(d => d.id_department == students_groups[i].id_department);
                Faculty faculty = faculties.Find(f => f.id_faculty == department.id_faculty);

                if (ViewBag.action == 'e' && i == Convert.ToInt32(ViewBag.row))
                {
                    using (Html.BeginForm())
                    {
                        <tr>
                            <input type="hidden" name="row" value="@i" />
                            <input type="hidden" name="id_students_group" value="@students_groups[i].id_students_group" />
                            <td>@(i + 1)</td>
                            <td>
                                <select name="id_faculty" class="form-control">
                                    @{
                                        for (int j = 0; j < faculties.Count; j++)
                                        {
                                            <option value="@faculties[j].id_faculty" @(faculties[j].id_faculty == department.id_faculty ? "selected" : "")>
                                                @faculties[j].abbreviation (@faculties[j].name)
                                            </option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <select name="id_department" class="form-control">
                                    @{
                                        for (int j = 0; j < departments.Count; j++)
                                        {
                                            <option value="@departments[j].id_department" @(departments[j].id_department == department.id_department ? "selected" : "")>
                                                @departments[j].abbreviation (@departments[j].name)
                                            </option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><input type="text" name="name" value="@students_groups[i].name" class="form-control" /></td>
                            <td><input type="number" min="1" name="people_amount" value="@students_groups[i].people_amount" class="form-control" /></td>
                            <td><button type="submit" name="action" value="u" class="btn btn-primary">Обновить</button></td>
                            <td><button type="submit" name="action" value="0" class="btn btn-warning">Отменить</button></td>
                        </tr>
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm())
                                            {
                                                <tr>
                                                    <input type="hidden" name="row" value="@i" />
                                                    <input type="hidden" name="id_students_group" value="@students_groups[i].id_students_group" />
                                                    <td>@(i + 1)</td>
                                                    <td>@faculty.abbreviation</td>
                                                    <td>@department.abbreviation</td>
                                                    <td>@students_groups[i].name</td>
                                                    <td>@students_groups[i].people_amount</td>
                                                    @if (ViewBag.action != 'e' && ViewBag.action != 'a')
                                                    {
                                                        <td><button type="submit" name="action" value="e" class="btn btn-primary"> Редактировать </button></td>
                                                        <td><button type="submit" name="action" value="r" class="btn btn-danger"> Удалить </button></td>
                                                    }
                                                    else
                                                    {
                                                        <td><button type="submit" name="action" value="e" class="btn btn-primary" disabled> Редактировать </button></td>
                                                        <td><button type="submit" name="action" value="r" class="btn btn-danger" disabled> Удалить </button></td>
                                                    }
                                                </tr>
                                                }
                                            }
                                        }

                                        if (ViewBag.action == 'a')
                                        {
                                            using (Html.BeginForm())
                                            {
                                                <tr>
                                                    <td>@(students_groups.Count + 1)</td>
                                                    <td>
                                                        <select name="id_faculty" class="form-control">
                                                            @{
                                                                for (int j = 0; j < faculties.Count; j++)
                                                                {
                                                                    <option value="@faculties[j].id_faculty" )>
                                                                        @faculties[j].abbreviation (@faculties[j].name)
                                                                    </option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select name="id_department" class="form-control">
                                                            @{
                                                                for (int j = 0; j < departments.Count; j++)
                                                                {
                                                                    <option value="@departments[j].id_department" )>
                                                                        @departments[j].abbreviation (@departments[j].name)
                                                                    </option>
                                                                }
                                                            }
                                                        </select>
                                                    </td>
                                                    <td><input type="text" name="name" class="form-control" /></td>
                                                    <td><input type="number" min="1" name="people_amount" class="form-control" /></td>
                                                    <td><button type="submit" name="action" value="s" class="btn btn-primary">Сохранить</button></td>
                                                    <td><button type="submit" name="action" value="0" class="btn btn-warning">Отменить</button></td>
                                                </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    using (Html.BeginForm())
                                                                    {
                                                                        <tr>
                                                                            <td><button type="submit" name="action" value="a" class="btn btn-info">+</button></td>
                                                                        </tr>
                                                                    }
                                                                }
        }

    </tbody>
</table>