@using LectureSchedulingTool.Models;
@model Teacher

<h2>Группы</h2>
<hr />

@(Html.ValidationSummary("", new { @class = "text-danger" }))

<table class="table-bordered table-condensed" align="center" width="100%">
    <thead>
        <tr>
            <td><center>№</center></td>
            <td>Факультет</td>
            <td>Кафедра</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Должность</td>
            <td>Регалии</td>
            <td>Нагрузка</td>
        </tr>
    </thead>
    <tbody>
        @{
            string action = ViewBag.action != null ? ViewBag.action.ToString() : "0";
            int edit_row = ViewBag.row != null ? ViewBag.row : -1;
            int elements_on_page = ViewBag.elements_on_page != null ? ViewBag.elements_on_page : 25;
            int page = ViewBag.page != null ? ViewBag.page : 1;
            int pages = ViewBag.pages != null ? ViewBag.pages : 1;

            List<Faculty> faculties = ViewBag.faculties != null ? ViewBag.faculties : null;
            IEnumerable<SelectListItem> Ifaculties = faculties.Select(f => new SelectListItem() { Value = f.id_faculty.ToString(), Text = f.abbreviation + " (" + f.name + ")" });
            List<Department> departments = ViewBag.departments != null ? ViewBag.departments : null;
            IEnumerable<SelectListItem> Idepartments = departments.Select(d => new SelectListItem() { Value = d.id_department.ToString(), Text = d.abbreviation + " (" + d.name + ")" });
            List<Teacher> teachers = ViewBag.teachers != null ? ViewBag.teachers : null;

            for (int i = 0; i < teachers.Count; i++)
            {
                Faculty faculty = teachers[i].GetFaculty();
                Department department = teachers[i].GetDepartment();

                if (action == "e" && edit_row == i)
                {
                    using (Html.BeginForm("Teacher", "Scheduling"))
                    {
                        <tr>
                            <input type="hidden" name="page" value="@(page)" />
                            <input type="hidden" name="row" value="@(i)" />
                            <input type="hidden" name="id_teacher" value="@(teachers[i].id_teacher)" />
                            <td><center>@(i + (elements_on_page * (page - 1)) + 1) </center></td>
                            <td>@(Html.DropDownList("id_faculty", Ifaculties, new { @class = "form-control" }))</td>
                            <td>@(Html.DropDownListFor(m => m.id_department, Idepartments, new { @class = "form-control" }))</td>
                            <td>@(Html.TextBoxFor(m => m.surname, new { @class = "form-control" })) </td>
                            <td>@(Html.TextBoxFor(m => m.name, new { @class = "form-control" })) </td>
                            <td>@(Html.TextBoxFor(m => m.patronymic, new { @class = "form-control" })) </td>
                            <td>@(Html.TextBoxFor(m => m.working_position, new { @class = "form-control" })) </td>
                            <td>@(Html.TextBoxFor(m => m.regalia, new { @class = "form-control" })) </td>
                            <td>@(Html.TextBoxFor(m => m.max_hours, new { @class = "form-control" })) </td>
                            <td width="10%"><center><button type="submit" id="update" name="action" value="u" class="btn btn-primary"> Обновить</button></center></td>
                            <td width="9%"><center><button type="submit" id="cancel" name="action" value="0" class="btn btn-warning"> Отменить</button></center></td>
                        </tr>
                    }
                }
                else
                {
                    using (Html.BeginForm("Teacher", "Scheduling"))
                    {
                        <tr>
                            <input type="hidden" name="page" value="@(page)" />
                            <input type="hidden" name="row" value="@(i)" />
                            <input type="hidden" name="id_teacher" value="@(teachers[i].id_teacher)" />
                            <td><center>@(i + (elements_on_page * (page - 1)) + 1)</center></td>
                            <td>@(faculty.abbreviation)</td>
                            <td>@(department.abbreviation)</td>
                            <td>@(teachers[i].surname)</td>
                            <td>@(teachers[i].name)</td>
                            <td>@(teachers[i].patronymic)</td>
                            <td>@(teachers[i].working_position)</td>
                            <td>@(teachers[i].regalia)</td>
                            <td>@(teachers[i].max_hours)</td>
                            @if (action == "e" || action == "a")
                            {
                                <td width="10%"><center><button type="submit" id="edit" name="action" value="e" class="btn btn-primary" width="inherit" disabled> Редактировать</button></center></td>
                                <td width="9%"><center><button type="submit" id="remove" name="action" value="r" class="btn btn-danger" width="inherit" disabled> Удалить</button></center></td>
                            }
                            else
                            {
                                <td width="10%"><center><button type="submit" id="edit" name="action" value="e" class="btn btn-primary" width="inherit"> Редактировать</button></center></td>
                                <td width="9%"><center><button type="submit" id="remove" name="action" value="r" class="btn btn-danger" width="inherit"> Удалить</button></center></td>
                            }
                        </tr>
                    }
                }
            }
            if (action == "a")
            {
                using (Html.BeginForm("Teacher", "Scheduling"))
                {
                    <tr>
                        <input type="hidden" name="page" value="@(page)" />
                        <td><center>* </center></td>
                        <td>@(Html.DropDownList("id_faculty", Ifaculties, new { @class = "form-control" }))</td>
                        <td>@(Html.DropDownListFor(m => m.id_department, Idepartments, new { @class = "form-control" }))</td>
                        <td>@(Html.TextBoxFor(m => m.surname, new { @class = "form-control" })) </td>
                        <td>@(Html.TextBoxFor(m => m.name, new { @class = "form-control" })) </td>
                        <td>@(Html.TextBoxFor(m => m.patronymic, new { @class = "form-control" })) </td>
                        <td>@(Html.TextBoxFor(m => m.working_position, new { @class = "form-control" })) </td>
                        <td>@(Html.TextBoxFor(m => m.regalia, new { @class = "form-control" })) </td>
                        <td>@(Html.TextBoxFor(m => m.max_hours, new { @class = "form-control" })) </td>
                        <td width="10%"><center><button type="submit" id="save" name="action" value="u" class="btn btn-primary"> Обновить</button></center></td>
                        <td width="9%"><center><button type="submit" id="cancel" name="action" value="0" class="btn btn-warning"> Отменить</button></center></td>
                    </tr>
                }
            }
            using (Html.BeginForm("Teacher", "Scheduling"))
            {
                <tr>
                    <input type="hidden" name="page" value="@(page)" />
                    @if (action == "e" || action == "a")
                    {
                        <td width="3%"><button type="submit" id="add" name="action" value="a" class="btn btn-info" disabled> + </button></td>
                    }
                    else
                    {
                        <td width="3%"><button type="submit" id="add" name="action" value="a" class="btn btn-info"> + </button></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

@{
    if (pages != 1)
    {
        using (Html.BeginForm("Teacher", "Scheduling"))
        {
            <hr />
            <table>
                <tr>
                    <td><button type="submit" id="page" name="page" value="1" class="btn btn-default"> <<</button></td>
                    @for (int i = 1; i <= pages; i++)
                    {
                        if (i == page)
                        {
                            <td><button type="submit" id="page" name="page" value="@(i)" class="btn btn-info"> @(i) </button></td>
                        }
                        else
                        {
                            <td><button type="submit" id="page" name="page" value="@(i)" class="btn btn-default"> @(i) </button></td>
                        }
                    }
                    <td><button type="submit" id="page" name="page" value="@(pages)" class="btn btn-default"> >> </button></td>
                </tr>
            </table>
        }

        <input type="hidden" name="page" value="@(page)" />
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/Scheduling/scheduling_remove_alert.js" />
<script src="~/Scripts/Scheduling/scheduling_department_dynamic.js" />